<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gooddayplanner">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/goodday_planner_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/goodday_planner_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.GoodDayPlanner">
        <activity android:name=".EventEditActivity"></activity>
        <activity android:name=".DaysViewActivity" />
        <activity android:name=".EventCreateActivity" />
        <activity
            android:name=".WeekMonthView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>